*{
    /* border: 1px solid red; */
    font-family:Didot, Cochin, Cambria, Georgia, Times, 'Times New Roman', serif;
}

.location{
    color: #f1ad2f;
}

.web-map:link {
    color: #FBBB04;
}

.web-map:visited {
    color: #171211;
}

.web-map:hover {
    color: #D9920F;
}

.web-map:active {
    color: #302C2A;
}

.copyright{
    color:#c0871e;
}

.form-select, .form-control {
    border: none;
    border-bottom: 1px solid #000000;
    border-radius: 0;
}

.form-select:focus, .form-control:focus {
    box-shadow: none;
    border-bottom-color: #2196f3;
}

#signin-body{
    background: #123E45;
}

#signinlogo {
    font-size:4rem;
}

@media (max-width: 768px) {  
    #signinlogo {
        font-size:3.5rem;}
}

@media (max-width: 550px) {  
    #signinlogo {font-size:3rem;}
}

@media (max-width: 450px) {  
    #signinlogo {font-size:2.5rem;}
}

@media (max-width: 400px) {  
    #signinlogo {font-size:2rem;}
}